.body{
  background-color: #ecda86;
  text-align: center;
  display: flex;
  flex-direction: column;
  

}
.App {
  text-align: center;
  display:flex;
  justify-content: center;
 
  
}
.s1{
  text-align: center;
  text-decoration: underline;
  color: #ce2222;
  
}
.table{
  align-items: center;
text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  text-decoration: solid;

}
.s2{
text-align: center;
  text-decoration: underline;
  color: #ce2222;
}
.s3{
  text-align: center;
  text-decoration: underline;
  color: #ce2222;
}

