.body {
  background-color: #ecda86;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.table {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
}

.s1 {
  text-align: center;
  text-decoration: underline;
  color: #ce2222;
}

.s2 {
  text-align: center;
  text-decoration: underline;
  color: #ce2222;
}

.s3 {
  text-align: center;
  text-decoration: underline;
  color: #ce2222;
}

/* Responsive styles */

@media only screen and (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .table {
    padding-top: 10%;
  }
}
